input {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin: auto;
}

.btn {
    margin-left:10px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: .5rem 1rem;
    width: 100px;
    height: 50px;
}
  
.btn:hover {
background-color: #3d3d3d;
border: #3d3d3d;
}

.errorButton {
    background-color: #a81313;
    border: 2px solid #760d0d;
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: .5rem 1rem;
    width: 200px;
    height: 50px;
    color: #ffffff;
}

:root {
    font-size: 12pt;
    --bg-color: #0c3f92;
    --secondary: #0d3574;
    --text-color: #ffffff;
    --border-color: #237a86;
    --border-radius: .5rem;
    --drop-shadow:
        -1px 1px 0 var(--secondary),
        -2px 2px 0 var(--secondary),
        -3px 3px 0 var(--secondary),
        -4px 4px 0 var(--secondary),
        -5px 5px 0 var(--secondary),
        -6px 6px 0 var(--secondary);
}

.banner {
    align-items: center;
    background:
        linear-gradient(0deg, var(--bg-color), transparent),
        no-repeat center / cover url("banner.png");
    color: var(#ffffff);
    display: flex;
    font-size: 5rem;
    font-weight: 900;
    height: 25vh;
    justify-content: center;
    text-shadow:
        -1px 1px 0 #494655,
        -2px 2px 0 #494655,
        -3px 3px 0 #494655,
        -4px 4px 0 #494655,
        -5px 5px 0 #494655,
        -6px 6px 0 #494655;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    min-height: 100vh;
}

p {
    font-size: 18pt;
}

.centered {
    display: flex;
    justify-content: center;
    
}

.container {
    text-align: center;
  }

.lougout {
text-align: right;
}

.topcorner{
position:absolute;
top:1rem;
right:1rem;
}
h1 {
    margin-left:10px;
}
h2 {
    margin-left:10px;
}

.wider {
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: .5rem 1rem;
    width: 300px;
    height: 80px;
    margin-left:10px;
    margin-bottom:10px;
}

.wider:hover {
    background-color: #939393;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: .5rem 1rem;
    width: 300px;
    height: 80px;
    margin-left:10px;
    margin-bottom:10px;
}

.widerred {
    background-color: #ff0000;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: .5rem 1rem;
    width: 300px;
    height: 80px;
    margin-left:10px;
    margin-bottom:10px;
}

.widerred:hover {
    background-color: #950101;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: .5rem 1rem;
    width: 300px;
    height: 80px;
    margin-left:10px;
    margin-bottom:10px;
}

.red {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }

.red:hover {
color: rgb(162, 55, 55);
background-color: transparent;
text-decoration: underline;
}

.green {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }

.green:hover {
color: rgb(2, 79, 2);
background-color: transparent;
text-decoration: underline;
}

h3 {
    margin-left:20px;
}

.good {
    color: rgb(0, 255, 0);
    background-color: transparent;
    text-decoration: none;
}

.bad {
    color: rgb(255, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
